@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-*: initial;
  --text-*: initial;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* added colors */
  --color-main: var(--color-main);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-gray-08: var(--color-gray-08);
  --color-gray-10: var(--color-gray-10);
  --color-gray-20: var(--color-gray-20);
  --color-gray-40: var(--color-gray-40);
  --color-gray-50: var(--color-gray-50);
  --color-gray-60: var(--color-gray-60);
  --color-gray-cold-10: var(--color-gray-cold-10);
  --color-green: var(--color-green);
  --color-orange: var(--color-orange);

  /* added text-size */
  --text-12: var(--text-12);
  --text-13: var(--text-13);
  --text-14: var(--text-14);
  --text-16: var(--text-16);
  --text-17: var(--text-17);
  --text-18: var(--text-18);
  --text-20: var(--text-20);
  --text-21: var(--text-21);
  --text-23: var(--text-23);
  --text-25: var(--text-25);
  --text-28: var(--text-28);
  --text-31: var(--text-31);
  --text-40: var(--text-40);

  /* added font-family */
  --font-nanum-brush-script-regular: var(--font-nanum-brush-script-regular);
  --font-nanum-pen-script-regular: var(--font-nanum-pen-script-regular);

  /* added spacing */
  --spacing-3px: var(--spacing-3px);
  --spacing-9px: var(--spacing-9px);
  --spacing-100: var(--spacing-100);
  --spacing-118\.75: var(--spacing-118\.75);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* added colors */
  --color-main: #5f5997;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-08: #f5f5f5;
  --color-gray-10: #e5e5e5;
  --color-gray-20: #dbdbdb;
  --color-gray-40: #999999;
  --color-gray-50: #727272;
  --color-gray-60: #555555;
  --color-gray-cold-10: #f0f0f0;
  --color-green: #149375;
  --color-orange: #e18d51;

  /* added text-size */
  --text-12: 0.75rem;
  --text-13: 0.813rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-17: 1.063rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-21: 1.313rem;
  --text-23: 1.438rem;
  --text-25: 1.563rem;
  --text-28: 1.75rem;
  --text-31: 1.938rem;
  --text-40: 2.5rem;

  /* added spacing */
  --spacing-3px: 3px;
  --spacing-9px: 9px;
  --spacing-100: 25rem;
  --spacing-118\.75: 29.688rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@utility font-regular {
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
}

@utility typo-regular-* {
  @apply font-inter font-regular;
  font-size: --value(--text-*);
}

@utility typo-bold-* {
  @apply font-inter font-bold;
  font-size: --value(--text-*);
}